#hauptteil {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px; /* Added padding to prevent edge overlap */
  box-sizing: border-box;
  max-width: 80rem;
}

.welcome-container h1 {
  font-size: 4rem; /* Größe der Überschrift */
  color: black; /* Farbe der Überschrift */
  margin-bottom: 0.5rem; /* Abstand zwischen Überschrift und Untertitel */
}

.subtitle {
  font-size: 1.5rem; /* Größe des Untertitels */
  color: grey; /* Farbe des Untertitels */
}

.game-selection-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.base-card.LobbySection {
  display: flex;
  position: relative;
}

input[type="text"] {
  border: 2px solid black;
  padding: 15px 30px;
  border-radius: 5px;
  box-shadow: 0 0 0 rgba(255, 255, 255, 0);
}

.message-box {
  position: absolute;
  top: calc(
    100% + 8px
  ); /* Adjusts the top position to place it directly under the input field */
  left: 0;
  background-color: #f8d7da;
  color: #721c24;
  padding: 8px;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
  width: 100%; /* Adjust the width to match the input field */
  white-space: nowrap; /* Ensures the message stays on one line */
  overflow: hidden; /* Hides overflow text */
  text-overflow: ellipsis; /* Adds ellipsis (...) if text overflows */
  z-index: 1000;
}

.FooterStart {
  position: fixed;
}

.dark-mode #hauptteil {
  background-color: #333333;
  color: #e0e0e0;
}

.dark-mode .content-container {
  background-color: #333333;
  color: #e0e0e0;
}

.dark-mode .welcome-container h1 {
  color: #ffffff;
  background-color: transparent
}
.dark-mode .subtitle {
  background-color: transparent;
  color: #b0b0b0;
}

.dark-mode .game-selection-container {
  background-color: transparent;
}

.dark-mode .base-card.LobbySection {
  background-color: #1e1e1e;
  color: #e0e0e0;
}

.dark-mode input[type="text"] {
  border: 2px solid #444;
  background-color: #2c2c2c;
  color: #e0e0e0;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
}

.dark-mode .message-box {
  background-color: #2c2c2c;
  color: #ff5252;
  border: 1px solid #ff8888;
}

.dark-mode .FooterStart {
  background-color: #333333;
  color: #e0e0e0;
}

.game-timer {
  font-size: 18px;
  font-weight: bold;
  color: #ff0000;
  text-align: center;
  margin-bottom: 10px;
}
























  .dark-mode .LobbySection {
    background-color: #1e1e1e;
  }

  .dark-mode .welcome-container h1 {
    color: #9dcc67;
    background-color: transparent;
  }

  .dark-mode .subtitle {
    background-color: transparent;
    color: #b0b0b0;
  }

  .dark-mode .base-card.LobbySection {
    background-color: #2c2c2c;
  }

















  @media (max-width: 1100px) and (max-height: 1400px) {
    #hauptteil {
      flex-direction: column-reverse;
        padding-bottom: 100px;
    }
    .welcome-container h1 {
      font-size: 3.5rem;
      font-family: Honk,sans-serif;
      font-weight: 700;
   
  }

  .subtitle {
      font-size: 1.6rem;
      font-family: Honk,sans-serif;
      font-style: italic
  }
    .game-selection-container {
      flex-direction:column;
    }
    .LobbySection {
      flex-direction: column
  }
    .game-selection-container a {
      width: 100%
  }
  .music-toggle button {
    font-family: 'Honk', sans-serif;
    font-size: 1.5rem;
    background: #ff8d5b;
    animation: mymove 5s infinite;
    margin-top: 10px;
  }
  @keyframes mymove {
    20% {background-color: #98ca60;}
  }

  .dark-mode .LobbySection {
    background-color: #1e1e1e;
  }

  .dark-mode .welcome-container h1 {
    color: #ffffff;
  }

  .dark-mode .subtitle {
    color: #b0b0b0;
  }

  .dark-mode .base-card.LobbySection {
    background-color: #2c2c2c;
  }
  .dark-mode .music-toggle button{
    margin-top: 10px;
    font-family: 'Honk', sans-serif;
    font-size: 1.5rem;
    background-color: #2c2c2c;
  }
}
